:root {
    --darkGray: #2d3748;
    --gray: #4a5568;
    --grayLight: #f7fafc;
    --primary: #6b46c1;
  }
  
  body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
  }
  
  .navbar {
    background: white;
    height: 85px;
    display: flex;
    padding: 0 10%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.1);
  }

  .navbar img {
    background: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.1);
  }
  
  .navbar > h1 {
    font-size: 20px;
    font-weight: bolder;
  }

  
  .awal-container {
    display: flex;
    height: 470px;
    padding: 0 10%;
  }
  
  .awal-container > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .awal-container h1 {
    font-size: 60px;
    width: 360px;
    margin: 20px 0;
    font-weight: bolder;
  }
  
  .awal-container p {
    font-size: 30px;
    color: var(--gray);
  }
  
  .awal-container > img {
    width: 40%;
    height: 450px;
    align-self: center;
  }
  
  .description-container {
    height: 280px;
    margin: 40px 0;
    padding: 0 10%;
    display: flex;
  }
  
  .description-container > div {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 4px 8px 0px rgba(1, 1, 1, 0.1);
    border-top: 1px solid rgb(228, 228, 228);
  }
  
  .description-container h2 {
    color: var(--darkGray);
    font-weight: bolder;
  }
  
  .description-container p {
    color: var(--gray);
  }
  
  .description-container > div > div {
    width: 500px;
  }
  
  .description-container > img {
    width: 40%;
    object-fit: cover;
  }
  
  
  section {
    padding: 60px 0;
    overflow: hidden;
  }
  

  
  .what-is-container {
    height: 600px;
    padding: 0 10%;
    display: flex;
    margin: 40px 0;
  }
  
  .what-is-container h1 {
    font-size: 60px;
  }
  
  .what-is-container p {
    color: var(--gray);
    font-size: 16px;
  }
  
  .what-is-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 48%;
    background: yellow;
    background: var(--grayLight);
  }
  
  .what-is-container > div > div {
    width: 400px;
  }
  
  .what-is-container > img {
    width: 52%;
    background: red;
  }
  
  .what-is-container > div > .footer {
    display: flex;
    justify-content: space-between;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
    padding: 0 10%;
    margin: 40px 0;
  }
  
  .btn {
    background: var(--primary);
    outline: none;
    border: none;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
  }
  
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height: 80px;
  }
  footer > div {
    display: flex;
    gap: 30px;
  }
 